---

- name: Ensure systemd package is present
  ansible.builtin.package:
    name: systemd
    state: present

- name: Record initial state
  ansible.builtin.shell: systemd-analyze security > /root/systemd-analyze-security1.out
  args:
    creates: /root/systemd-analyze-security1.out
  when: >
    ((ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 20) or
     (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int >= 8) or
     (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_release'] == 'NA')
    ) and
    ansible_facts['service_mgr'] == 'systemd' and
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
        )

- name: Debug | ansible_facts['service_mgr']
  ansible.builtin.debug:
    var: ansible_facts['service_mgr']
    verbosity: 1

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Record final state
  ansible.builtin.shell: systemd-analyze security > /root/systemd-analyze-security2.out
  args:
    creates: /root/systemd-analyze-security2.out
  when: >
    ((ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 20) or
     (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int >= 8) or
     (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_release'] == 'NA')
    ) and
    ansible_facts['service_mgr'] == 'systemd' and
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
        )
