---

- name: Ensure systemd package is present
  ansible.builtin.package:
    name: systemd
    state: present

- name: Include systemd-unit
  ansible.builtin.include_tasks: systemd-unit.yml
  vars:
    dstunit: "{{ item.dstunit | default(item.t) }}"
    t: "{{ item.t }}"
  loop: "{{ harden_systemd_list }}"
