---
# vars: dstunit, t

- name: Systemd
  when:
    - ansible_facts['service_mgr'] == 'systemd' or ansible_facts['os_family'] == 'RedHat'
  block:
    - name: Ensure systemd service.d folder exists
      ansible.builtin.file:
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d"
        state: directory
        mode: '0755'

    - name: Add systemd hardening options for services
      ansible.builtin.template:
        src: "{{ t }}.service.d-override.conf.j2"
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d/hardening.conf"
        mode: '0644'
      notify:
        - Reload systemd
        - Restart services
  rescue:
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: /etc/systemd/system
        state: pre
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d"
        state: pre
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d/hardening.conf"
        state: pre

    - name: Ensure systemd service.d folder exists
      ansible.builtin.file:
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d"
        state: directory
        mode: '0755'

    - name: Add systemd hardening options for services
      ansible.builtin.template:
        src: "{{ t }}.service.d-override.conf.j2"
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d/hardening.conf"
        mode: '0644'
      notify:
        - Reload systemd
        - Restart services
    - name: Ensure systemd service.d folder exists
      ansible.builtin.file:
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d"
        state: directory
        mode: '0755'

    - name: Add systemd hardening options for services
      ansible.builtin.template:
        src: "{{ t }}.service.d-override.conf.j2"
        dest: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d/hardening.conf"
        mode: '0644'
      notify:
        - Reload systemd
        - Restart services
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: /etc/systemd/system
        state: post
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: "/etc/systemd/system/{{ dstunit | default(t) }}.service.d/hardening.conf"
        state: post
