{{ ansible_managed | comment }}
#
# /etc/systemd/system/avahi-daemon.service.d/hardening.conf
#
# Exposure 9.6 -> 5.1
# https://github.com/lathiat/avahi/blob/master/avahi-daemon/avahi-daemon.service.in
#
# FIXME!
# Preparation of eBPF accounting maps failed: Operation not permitted
# PF allow maps failed: Operation not permitted
[Service]
##############
# Networking #
##############

# PrivateNetwork=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_PACKET AF_UNIX
IPAccounting=yes
IPAddressAllow=localhost link-local multicast 10.0.0.0/8 192.168.0.0/16
# IPAddressDeny= service needs access to all IPs

###############
# File system #
###############
#  Note that the effect of these settings may be undone by privileged processes. In order to
#  set up an effective sandboxed environment for a unit it is thus recommended to combine
#  these settings with either CapabilityBoundingSet=~CAP_SYS_ADMIN or
#  SystemCallFilter=~@mount.

# ProtectHome=yes
# ProtectSystem=strict
{% if (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 21) or
      (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int >= 11)
%}
# ProtectProc=ptraceable
{% endif %}
# ReadWritePaths=/run/avahi-daemon
# PrivateTmp=yes

###################
# User separation #
###################

# PrivateUsers=yes
# DynamicUser=

###########
# Devices #
###########

# PrivateDevices=yes
# DeviceAllow=

##########
# Kernel #
##########

# ProtectKernelTunables=yes
# ProtectKernelModules=yes
{% if (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 20) or
      (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int >= 11) or
      (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int > 8 )
%}
# ProtectKernelLogs=yes
ProtectHostname=yes
ProtectClock=yes
{% endif %}

########
# Misc #
########

UMask=077

AmbientCapabilities=CAP_BPF CAP_PERFMON
# CapabilityBoundingSet=~CAP_SETUID CAP_SETGID CAP_SETPCAP
CapabilityBoundingSet=~CAP_SYS_ADMIN
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_CHOWN CAP_FSETID CAP_SETFCAP
CapabilityBoundingSet=~CAP_DAC_* CAP_FOWNER CAP_IPC_OWNER
CapabilityBoundingSet=~CAP_NET_ADMIN
CapabilityBoundingSet=~CAP_KILL
CapabilityBoundingSet=~CAP_NET_BIND_SERVICE CAP_NET_BROADCAST
CapabilityBoundingSet=~CAP_SYS_NICE CAP_SYS_RESOURCE
CapabilityBoundingSet=~CAP_SYS_MODULE
CapabilityBoundingSet=~CAP_SYS_RAWIO
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
# CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_LEASE
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG

# AmbientCapabilities=

NoNewPrivileges=yes
# ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
# RemoveIPC=

################
# System calls #
################

{% if not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
        )
%}
SystemCallFilter=@system-service @mount @privileged
{% endif %}
SystemCallFilter=~@clock @debug @resources @reboot @swap @module
SystemCallArchitectures=native
