{{ ansible_managed | comment }}
#
# /etc/systemd/system/dbus.service.d/hardening.conf
#
# Note: a system reboot is needed to apply for dbus as 'unit dbus.service may be requested by dependency only (it is configured to refuse manual start/stop).'
# Exposure 9.6 -> 3.0
# https://github.com/freedesktop/dbus/blob/master/bus/dbus.service.in
#
# FIXME!
# dbus-daemon[x]: apparmor="DENIED" operation="dbus_method_call"  bus="system" path="/org/freedesktop/DBus" interface="org.freedesktop.DBus" member="Hello" mask="send" name="org.freedesktop.DBus" pid=264193 label="avahi-daemon" peer_label="unconfined" info="Read-only file system"
# dbus-daemon[x]: apparmor="DENIED" operation="dbus_method_call"  bus="system" path="/org/freedesktop/DBus" interface="org.freedesktop.DBus" member="Hello" name=":not.active.yet" mask="receive" label="unconfined" peer_pid=264193 peer_label="avahi-daemon" peer_info="Read-only file system"
# https://lists.launchpad.net/touch-packages/msg75859.html
# https://apparmor.narkive.com/MX3CsJHj/profile-firefox-org-mozilla-firefox-and-dbus-bind-denied
# https://gitlab.apertis.org/alee/didcot/-/blob/apertis/v2021dev1/debian/usr.bin.didcot
# gdbus introspect --system -d org.freedesktop.DBus -o /org/freedesktop/DBus
[Service]
##############
# Networking #
##############

# possible impact on networkd-dispatcher.service
# PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX
IPAccounting=yes
# IPAddressAllow=any
# IPAddressDeny= service needs access to all IPs

###############
# File system #
###############
#  Note that the effect of these settings may be undone by privileged processes. In order to
#  set up an effective sandboxed environment for a unit it is thus recommended to combine
#  these settings with either CapabilityBoundingSet=~CAP_SYS_ADMIN or
#  SystemCallFilter=~@mount.

ProtectHome=yes
# ProtectSystem=strict
ProtectSystem=full
{% if ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 21 %}
ProtectProc=ptraceable
{% endif %}
# ReadWritePaths=
PrivateTmp=yes

###################
# User separation #
###################

# PrivateUsers= service runs as root
# DynamicUser= service runs as root

###########
# Devices #
###########

PrivateDevices=yes
# DeviceAllow=/dev/exampledevice

##########
# Kernel #
##########

ProtectKernelTunables=yes
ProtectKernelModules=yes
{% if (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 20) or
      (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int > 8 )
%}
ProtectKernelLogs=yes
ProtectHostname=yes
ProtectClock=yes
{% endif %}

########
# Misc #
########

UMask=077

# Preparation of eBPF accounting maps failed: Operation not permitted?
AmbientCapabilities=CAP_BPF CAP_PERFMON
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_DAC_READ_SEARCH
CapabilityBoundingSet=~CAP_SYS_RAWIO
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_DAC_* CAP_FOWNER CAP_IPC_OWNER
CapabilityBoundingSet=~CAP_NET_ADMIN
CapabilityBoundingSet=~CAP_KILL
CapabilityBoundingSet=~CAP_NET_BIND_SERVICE CAP_NET_BROADCAST
CapabilityBoundingSet=~CAP_SYS_NICE CAP_SYS_RESOURCE
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_LEASE
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SYS_ADMIN
# CapabilityBoundingSet=~CAP_SETUID CAP_SETGID CAP_SETPCAP
CapabilityBoundingSet=~CAP_CHOWN CAP_FSETID CAP_SETFCAP
CapabilityBoundingSet=~CAP_NET_RAW
CapabilityBoundingSet=~CAP_IPC_LOCK

NoNewPrivileges=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
# RemoveIPC= service runs as root

################
# System calls #
################

#SystemCallFilter=@system-service
#SystemCallFilter=~@resources @privileged
#SystemCallFilter=~@debug @mount @cpu-emulation @obsolete @resources @clock @swap @reboot @module
SystemCallFilter=~@raw-io
SystemCallArchitectures=native

CPUShares={{ dbus_cgroups_cpushares | default('1024') }}
CPUQuota={{ dbus_cgroups_cpuquota | default('20%') }}
MemoryLimit={{ dbus_cgroups_memorylimit | default('1G') }}
