{{ ansible_managed | comment }}
#
# /etc/systemd/system/NetworkManager.service.d/hardening.conf
#
# Exposure 7.2 -> 2.4
# Not matching
# https://github.com/fwupd/fwupd/blob/main/data/org.freedesktop.fwupd.service.in
[Service]
# Existing Debian Bookworm
PrivateTmp=yes
ProtectHome=yes
#ProtectSystem=full
ProtectSystem=strict
RestrictAddressFamilies=AF_NETLINK AF_UNIX
#SystemCallFilter=~@mount
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictRealtime=yes
ReadWritePaths=-/boot/efi -/efi/EFI -/boot/EFI

##############
# Networking #
##############

# PrivateNetwork= service needs access to host network
IPAccounting=yes
# IPAddressAllow=any
# IPAddressDeny= service needs access to all IPs

###############
# File system #
###############

#ProtectSystem=strict
{% if ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 21 %}
ProtectProc=ptraceable
{% endif %}

###################
# User separation #
###################

# PrivateUsers= service runs as root
# DynamicUser= service runs as root

###########
# Devices #
###########

# 00:32:05:0729 FuEngine             failed to add device (null): failed to open /dev/mmcblk2: No such file or director
#PrivateDevices=yes
# DeviceAllow=/dev/exampledevice

##########
# Kernel #
##########

ProtectKernelTunables=yes
{% if (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 20) or
      (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int > 8 ) or
      (ansible_distribution == 'Debian' and ansible_distribution_release == 'NA')
%}
ProtectKernelLogs=yes
ProtectHostname=yes
ProtectClock=yes
{% endif %}

########
# Misc #
########

UMask=077

CapabilityBoundingSet=~CAP_SYS_ADMIN
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_DAC_READ_SEARCH
CapabilityBoundingSet=~CAP_SYS_RAWIO
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_DAC_* CAP_FOWNER CAP_IPC_OWNER
CapabilityBoundingSet=~CAP_NET_ADMIN
CapabilityBoundingSet=~CAP_KILL
CapabilityBoundingSet=~CAP_MKNOD
CapabilityBoundingSet=~CAP_NET_BIND_SERVICE CAP_NET_BROADCAST
CapabilityBoundingSet=~CAP_SYS_NICE CAP_SYS_RESOURCE
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_LEASE
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SETUID CAP_SETGID CAP_SETPCAP
CapabilityBoundingSet=~CAP_CHOWN CAP_FSETID CAP_SETFCAP
CapabilityBoundingSet=~CAP_NET_RAW
CapabilityBoundingSet=~CAP_IPC_LOCK

# AmbientCapabilities= service runs as root
NoNewPrivileges=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
# RemoveIPC= service runs as root

################
# System calls #
################

{% if (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 20) or
      (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int >= 8 ) or
      (ansible_distribution == 'Debian' and ansible_distribution_release == 'NA')
%}
SystemCallFilter=@system-service @resources @privileged
SystemCallFilter=~@mount @debug @mount @reboot @swap @raw-io @clock @module @obsolete
{% endif %}
SystemCallArchitectures=native

CPUShares={{ fwupd_cgroups_cpushares | default('1024') }}
CPUQuota={{ fwupd_cgroups_cpuquota | default('20%') }}
MemoryLimit={{ fwupd_cgroups_memorylimit | default('1G') }}
