{{ ansible_managed | comment }}
#
# phosh
#
# Exposure 9.2 -> ?2.3
# FIXME! with override active, can't unlock screen...
# https://gitlab.com/mobian1/packages/phosh/-/blob/mobian/data/phosh.service
[Service]
##############
# Networking #
##############

PrivateNetwork=yes
# RestrictAddressFamilies=~AF_INET AF_INET6 AF_NETLINK AF_PACKET AF_UNIX
IPAccounting=yes
IPAddressAllow=localhost link-local multicast 10.0.0.0/8 192.168.0.0/16
# IPAddressDeny= service needs access to all IPs

###############
# File system #
###############
#  Note that the effect of these settings may be undone by privileged processes. In order to
#  set up an effective sandboxed environment for a unit it is thus recommended to combine
#  these settings with either CapabilityBoundingSet=~CAP_SYS_ADMIN or
#  SystemCallFilter=~@mount.

# ProtectHome=yes
ProtectSystem=strict
{% if (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 21) or
      (ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 11)
%}
ProtectProc=ptraceable
{% endif %}
# ReadWritePaths=/etc/dconf/db /home/manjaro/.cache/fontconfig /home/manjaro/.config/dconf/user
PrivateTmp=yes

###################
# User separation #
###################

PrivateUsers=yes
# DynamicUser= service runs as root

###########
# Devices #
###########

# PrivateDevices=yes
DeviceAllow=/dev/rfkill /dev/urandom /dev/null /dev/shm

##########
# Kernel #
##########

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes

########
# Misc #
########

UMask=077
CapabilityBoundingSet=~CAP_SETUID CAP_SETGID CAP_SETPCAP
CapabilityBoundingSet=~CAP_SYS_ADMIN
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_CHOWN CAP_FSETID CAP_SETFCAP
CapabilityBoundingSet=~CAP_DAC_* CAP_FOWNER CAP_IPC_OWNER
CapabilityBoundingSet=~CAP_NET_ADMIN
CapabilityBoundingSet=~CAP_SYS_MODULE
CapabilityBoundingSet=~CAP_SYS_RAWIO
# AmbientCapabilities= service runs as root
NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
# RemoveIPC= service runs as root

################
# System calls #
################

SystemCallFilter=@system-service
# SystemCallFilter=~@clock @debug @mount @resources @reboot @swap @module @privileged
SystemCallFilter=~@clock @debug @mount @resources @reboot @swap @module
SystemCallArchitectures=native

CPUQuota=80%
MemoryMax=4G
