---
name: default-full

on:
  push:
  pull_request:
  schedule:  # run weekly, every monday 03:00
    - cron: '0 3 * * 1'

permissions: {}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks

    steps:
      - uses: actions/checkout@v5
        with:
          path: juju4.harden_systemd
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible-lint flake8 yamllint
          which ansible
          pip3 install ansible
          pip3 show ansible
          ls -l $HOME/.local/bin || true
          ls -l /opt/hostedtoolcache/Python/3.9.1/x64/bin || true
          echo "/opt/hostedtoolcache/Python/3.9.1/x64/bin" >> $GITHUB_PATH
          ansible --version
          cd $GITHUB_WORKSPACE/juju4.harden_systemd
          [ -f get-dependencies.sh ] && sh -x get-dependencies.sh
          { echo '[defaults]'; echo 'callbacks_enabled = profile_tasks, timer'; echo 'roles_path = ../'; echo 'ansible_python_interpreter: /usr/bin/python3'; } >> ansible.cfg
      - name: Environment
        run: |
          pwd
          env
          find -ls
      - name: Before script - systemctl
        run: |
          set -x
          systemd-analyze security || true
          systemctl status --all --no-pager || true
      - name: run test
        run: |
          cd $GITHUB_WORKSPACE/juju4.harden_systemd && ansible-playbook -i localhost, --connection=local --become -vvv molecule/default/converge-full.yml
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: idempotency run
        run: |
          cd $GITHUB_WORKSPACE/juju4.harden_systemd && ansible-playbook -i localhost, --connection=local --become -vvv molecule/default/converge-full.yml | tee /tmp/idempotency.log | grep -q 'changed=0.*failed=0'  && (echo 'Idempotence test: pass' && exit 0)  || (echo 'Idempotence test: fail' && cat /tmp/idempotency.log && exit 1)
      - name: On failure
        run: |
          systemctl -l --no-pager status
        if: env.WORKFLOW_CONCLUSION == 'failure'  # notify only if failure
      - name: After script - systemctl
        run: |
          set -x
          systemd-analyze security || true
          systemctl --failed || true
          systemctl status accounts-daemon || true
          systemctl status dbus || true
          systemctl status rsync || true
          systemctl status rsyslog || true
          systemctl status accounts-daemon || true
          systemctl status packagekit || true
          systemctl status polkit || true
          systemctl status avahi-daemon || true
          systemctl status bluetooth || true
          systemctl status wpa_supplicant || true
          systemctl status ModemManager || true
          systemctl status iio-sensor-proxy || true
          systemctl status fwupd || true
          systemctl status walinuxagent || true
          systemctl status php7.4-fpm || true
          systemctl status php8.0-fpm || true
          systemctl status php8.1-fpm || true
          systemctl status tomcat9 || true
          systemctl status postgresql || true
          systemctl status postgresql@12-main || true
          systemctl status postgresql@14-main || true
          systemctl status --all --no-pager || true
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - systemctl2
        run: |
          set -x
          sleep 30
          systemd-analyze security || true
          systemctl --failed || true
          systemctl status accounts-daemon || true
          systemctl status dbus || true
          systemctl status rsync || true
          systemctl status rsyslog || true
          systemctl status accounts-daemon || true
          systemctl status packagekit || true
          systemctl status polkit || true
          systemctl status avahi-daemon || true
          systemctl status bluetooth || true
          systemctl status wpa_supplicant || true
          systemctl status ModemManager || true
          systemctl status iio-sensor-proxy || true
          systemctl status fwupd || true
          systemctl status walinuxagent || true
          systemctl status php7.4-fpm || true
          systemctl status php8.0-fpm || true
          systemctl status php8.1-fpm || true
          systemctl status tomcat9 || true
          systemctl status postgresql || true
          systemctl status postgresql@12-main || true
          systemctl status postgresql@14-main || true
          systemctl status --all --no-pager || true
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - journalctl
        run: |
          sudo journalctl -xe --no-pager
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - resulting config
        run: |
          find /etc/systemd/system/*.service.d/ -type f -exec cat {} \;
        if: ${{ always() }}
        continue-on-error: true
